.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
npm-debug.log
yarn-error.log
docker-compose.override.yml
