* {
  font-size: 10pt;
}
.modal .input-group-text:not(#heights .input-group-text) {
  width: 120px;
}
#pagination a {
  text-decoration: none;
  color: inherit;
}
th[sort] {
  cursor: pointer;
}
@media (max-width: 1199px) {
  .modal .input-group-text:not(#heights .input-group-text) {
    width: 100px;
  }
}